<div class="header-row">
	<div class="title">Lights Puzzle</div>
	<div class="author">👨‍💻 by Philip Fulgham</div>
</div>
<div class="header-row">
	<div class="instructions">Turn off all the lights!</div>
	<div class="version">v{{ version }}</div>
</div>
<div class="grid-container">
	<lights-grid [size]="difficulty"></lights-grid>
	<div class="status-container" *ngIf="gridSolved">
		<status></status>
	</div>
</div>
<div class="controls">
	<ng-button [highlight]="gridSolved" text="Reset" (click)="onReset()"></ng-button>
	<ng-button [text]="switchText" (click)="switchDifficulty()"></ng-button>
</div>
