:host {
	width: 100%;
}

.controls {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
	width: 100%;
}

.grid-container {
	position: relative;
}

.status-container {
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.header {
	color: white;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.instructions {
	color: white;
	margin-bottom: 20px;
}
